body {
    background-color: #222222;
    color: #dadada;
}

h1 {
    color: #358753;
}


#graph {
    height: 400px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #000000;
}

.button {
    background-color: #358753;
}

.button:hover {
    background-color: #11582B;
}

a {
    color: #358753;
}

a:hover {
    color: #11582B;
}

#layout, #rescale {
    height: 37px;
    padding-top: 10px;
}
